.feature-section {
  padding-bottom: 0px;
}

.feature-list {
  height: 251px;
}

.feature-list__thumb {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background-color: #f5f4fa;
}

.feature-list__icon {
  width: 70px;
  height: 70px;
}

.feature-list__subtitle {
  text-align: left;
}

.feature-list__description {
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: #757575;
}
