.page-header {
  display: flex;
  align-items: center;
  min-height: 80px;
  border-bottom: 1px solid #ececec;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.page-header__logo {
  margin-right: 93px;
}
