.socwebs-list {
  @extend %list;
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    margin-top: 64px;
  }
}

.socwebs-list__item {
  &:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.socwebs-list__link {
  font-size: 18px;
  line-height: 1.22;
  color: $accent-color;
}
